.allTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.userTask{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    
    background-color:#40E0D0;
}